@import "tailwindcss";

@theme {
    --color-midnight-navy: #0A1931;
    --color-helios-orange: #F48C06;
    --color-steel-pewter: #99B0BB;
    --color-machinist-gray: #7E7E7E;
    --color-parchment-white: #F5F5F5;
}