---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
---

<Layout>
	<Navbar />
	<main
		class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12 mt-20 lg:mt-[120px]"
	>
		<h1 class="text-4xl font-bold text-midnight-navy mb-4">
			Welcome to CoolAir
		</h1>
		<p class="text-machinist-gray text-lg">
			Your trusted partner for HVAC and plumbing services.
		</p>
	</main>
</Layout>
